:root {
  --text-color: #212121;
  --logo-colour: #2196f3;
  --title-color: #FFFFF;
  --paragraphs-color: #757575;
  --bg-color: #f5f4fa;
}

* {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto";
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  line-height: auto;
  padding-bottom: 94px;
}

.logo {
  font-family: "Raleway", bold;
  color: var(--text-color);
}
.logo abbr {
  color: var(--logo-colour);
}

.nav {
  color: var(--text-color);
}

.nav-list,
.logo {
  display: flex;
}

.nav-item {
  padding-right: 50px;
  padding-top: 29.5px;
}

.nav-item:first-child {
  padding-right: 93px;
  padding-top: 24px;
}

.nav-item:nth-child(4) {
  padding-right: 272px;
}


/* MAIN */

.categories {
  color: var(--text-color);

}

.categories-list{
  display: flex;
  justify-content: center;
  padding-bottom: 34px;
}

.categories-items{
  padding-right: 55px;
  
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.goods-name {
  color: var(--text-color);
}

.goods-artile {
  color: var(--paragraphs-color);
}

/* FOOTER */

.adress {
  color: var(--bg-color);
}
