:root {
  --text-color: #212121;
  --logo-colour: #2196f3;
  --title-color: #FFFFF;
  --paragraphs-color: #757575;
  --bg-color: #f5f4fa;
}

* {
  text-decoration: none;
}

body{
    font-family: "Roboto";
}

.header{
    line-height: auto;
}

.logo {
  font-family: "Raleway", bold;
  color: var(--text-color);
}
.logo abbr {
  color: var(--logo-colour);
}

.nav {
  color: var(--text-color);
}

.phone,
.mail {
  color: var(--paragraphs-color);
}

.nameorder {
  color: var(--bg-color);
  line-height: 60px;
}

.btn-order {
  color: var(--logo-colour);
  line-height: 30px;
}

.skills-name {
  color: var(--text-color);
  line-height: auto;
}

.skills-article {
  color: var(--paragraphs-color);
  line-height: 24;
}

.offers-box-name {
  color: var(--text-color);
  line-height: auto;
}

.team-box-name {
  color: var(--text-color);
  line-height: auto;
}

.team-items-job {
  color: var(--text-color);
  line-height: auto;
}

.adress {
  color: var(--bg-color);
  line-height: auto;
}
