.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #666;
}

:root {
  --text-color: #212121;
  --logo-colour: #2196f3;
  --title-color: #FFFFF;
  --paragraphs-color: #757575;
  --bg-color: #f5f4fa;
}

.header {
  line-height: auto;
  padding-bottom: 25px;
}

.header svg {
  width: 16px;
  height: 12px;
  fill: #757575;
}

.email a:hover {
  color: #2196f3;
}

.email:hover svg {
  fill: #2196f3;
}

.telephone a:hover {
  color: #2196f3;
}

.telephone:hover svg {
  fill: #2196f3;
}

.logo {
  font-family: "Raleway", bold;
  color: var(--text-color);
}

.logo abbr {
  color: var(--logo-colour);
}

.nav {
  color: var(--text-color);
}

.nav-list,
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  padding-right: 40px;
  padding-top: 29.5px;
}

.nav-item:first-child {
  padding-right: 93px;
  padding-top: 24px;
}

.nav-item:nth-child(4) {
  padding-right: 272px;
}

.main {
  padding-bottom: 94px;
}

.main-box {
  height: 600px;
  background: #2f303a;
  margin-bottom: 80px;
}

.servis-order {
  background-color: #2f303a;
  padding-bottom: 94px;
}

.name-order {
  color: #fff;
  width: 696px;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-left: 253px;
  padding-top: 200px;
  padding-bottom: 30px;
}

.btn-order {
  width: 216px;
  height: 50px;
  margin-left: 490px;
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
}
