.header {
  line-height: auto;
  padding-bottom: 25px;
}

.header svg {
  width: 16px;
  height: 12px;
  fill: #757575;
}

.email a:hover {
  color: #2196f3;
}

.email:hover svg {
  fill: #2196f3;
}

.telephone a:hover {
  color: #2196f3;
}

.telephone:hover svg {
  fill: #2196f3;
}

.logo {
  font-family: "Raleway", bold;
  color: var(--text-color);
}
.logo abbr {
  color: var(--logo-colour);
}

.nav {
  color: var(--text-color);
}

.nav-list,
.logo {
  display: flex;
}

.nav-item {
  padding-right: 40px;
  padding-top: 29.5px;
}

.nav-item:first-child {
  padding-right: 93px;
  padding-top: 24px;
}

.nav-item:nth-child(4) {
  padding-right: 272px;
}
